<h1>New Bar</h1>
<%= form_for :bar, url: bars_path do |f| %>

	<div><%= f.label :name %><br />
	<%= f.text_field :name %></div>
	<div><%= f.label :email %><br />
	<%= f.email_field :email %></div>
	<div><%= f.label :description %><br />
	<%= f.text_area :description %></div>
	<div><%= f.label :lat %><br />
	<%= f.select :lat, [[1, 1]] %></div>
	<div><%= f.label :long %><br />
	<%= f.select :long, [[1, 1]] %></div>
	<%= f.select :user_id, [current_user.user_id] %>

	<div><br /><%= f.submit %></div>

<% end %>